      h1 {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: bold;
      }
      h3 {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1.2em;
      }
      .custom-col-home {
        background-image: url('../images/back.jpg');
        background-size: cover;
        height: 100%;
      }
      .custom-row-home {
        height: 100vh;
      }
      .row-bg-red{
        background: rgba(197, 40, 61, 0.8);
      }
      .input-text {
        background: rgba(148, 30, 46, 0.6);
        border-bottom: 1px solid #fff;
        width: 70%;
      }
      ::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      .badge {
        font-size: 0.4em;
        color: #222;
      }